# Integration Test

In [1]:
!jps

9392 DataNode
10050 NodeManager
9635 SecondaryNameNode
9188 NameNode
10613 RunJar
10614 RunJar
10583 JobHistoryServer
11641 Jps
10494 WebAppProxyServer
9855 ResourceManager

## Hdfs

In [2]:
%%file example.csv
id,firstname,lastname,email,profession
100,Allyce,Dom,Allyce.Dom@gmail.com,firefighter
101,Gertrud,Poppy,Gertrud.Poppy@gmail.com,worker
102,Jacquetta,Sigfrid,Jacquetta.Sigfrid@gmail.com,worker
103,Desirae,Mich,Desirae.Mich@gmail.com,firefighter
104,Kalina,Edee,Kalina.Edee@gmail.com,firefighter
105,Bibby,Raffo,Bibby.Raffo@gmail.com,developer
106,Maisey,Erlandson,Maisey.Erlandson@gmail.com,firefighter
107,Adriana,Deegan,Adriana.Deegan@gmail.com,firefighter
108,Eve,Durante,Eve.Durante@gmail.com,developer
109,Clarice,Robertson,Clarice.Robertson@gmail.com,firefighter
110,Patricia,Alexandr,Patricia.Alexandr@gmail.com,firefighter
111,Eolanda,Ursulette,Eolanda.Ursulette@gmail.com,developer
112,Nannie,Ilka,Nannie.Ilka@gmail.com,doctor
113,Dagmar,Mauer,Dagmar.Mauer@gmail.com,police officer
114,Shaylyn,Mich,Shaylyn.Mich@gmail.com,developer
115,Gilda,Daveta,Gilda.Daveta@gmail.com,worker
116,Carree,Faust,Carree.Faust@gmail.com,police officer
117,Collen,Kaete,Collen.Kaete@gmail.com,developer
118,Gloria,Bendick,Gloria.Bendick@gmail.com,worker
119,Kary,Eachern,Kary.Eachern@gmail.com,developer
120,Margette,Therine,Margette.Therine@gmail.com,doctor
121,Nataline,Kosey,Nataline.Kosey@gmail.com,developer
122,Romona,Ludewig,Romona.Ludewig@gmail.com,firefighter
123,Eadie,Tyson,Eadie.Tyson@gmail.com,police officer
124,Jan,Geffner,Jan.Geffner@gmail.com,worker
125,Corina,Tomasina,Corina.Tomasina@gmail.com,police officer
126,Ellette,Bearnard,Ellette.Bearnard@gmail.com,firefighter
127,Marinna,Peg,Marinna.Peg@gmail.com,worker
128,Brana,Burnside,Brana.Burnside@gmail.com,worker

Writing example.csv

In [24]:
!hdfs dfs -mkdir -p /user/vagrant

In [25]:
!hdfs dfs -put example.csv /user/vagrant

In [26]:
!hdfs dfs -ls /user/vagrant

Found 1 items
-rw-r--r--   1 vagrant supergroup       1574 2020-06-19 13:26 /user/vagrant/example.csv

## Hive

In [7]:
%%file test_hive.hql

CREATE TABLE IF NOT EXISTS test_table
 (col1 int COMMENT 'Integer Column',
 col2 string COMMENT 'String Column')
 COMMENT 'This is test table'
 ROW FORMAT DELIMITED
 FIELDS TERMINATED BY ','
 STORED AS TEXTFILE;
    
INSERT INTO test_table VALUES(1,'testing');

SELECT * FROM test_table;

Writing test_hive.hql

In [8]:
!beeline -u jdbc:hive2://10.0.2.15:10000 -f ./test_hive.hql

Connecting to jdbc:hive2://10.0.2.15:10000
2020-06-19 13:15:50,412 INFO jdbc.Utils: Supplied authorities: 10.0.2.15:10000
2020-06-19 13:15:50,413 INFO jdbc.Utils: Resolved authority: 10.0.2.15:10000
Connected to: Apache Hive (version 3.1.2)
Driver: Hive JDBC (version 2.3.7)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://10.0.2.15:10000>
0: jdbc:hive2://10.0.2.15:10000> CREATE TABLE IF NOT EXISTS test_table
. . . . . . . . . . . . . . . .>  (col1 int COMMENT 'Integer Column',
. . . . . . . . . . . . . . . .>  col2 string COMMENT 'String Column')
. . . . . . . . . . . . . . . .>  COMMENT 'This is test table'
. . . . . . . . . . . . . . . .>  ROW FORMAT DELIMITED
. . . . . . . . . . . . . . . .>  FIELDS TERMINATED BY ','
. . . . . . . . . . . . . . . .>  STORED AS TEXTFILE;
INFO  : Compiling command(queryId=vagrant_20200619131550_07fe98a3-4386-48dc-8174-a2bc58834924): CREATE TABLE IF NOT EXISTS test_table
(col1 int COMMENT 'Integer Column',
col2 string COMMENT 'String Column')
COMMENT 'This is test table'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Semantic Analysis Completed (retrial = false)
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=vagrant_20200619131550_07fe98a3-4386-48dc-8174-a2bc58834924); Time taken: 0.765 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=vagrant_20200619131550_07fe98a3-4386-48dc-8174-a2bc58834924): CREATE TABLE IF NOT EXISTS test_table
(col1 int COMMENT 'Integer Column',
col2 string COMMENT 'String Column')
COMMENT 'This is test table'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=vagrant_20200619131550_07fe98a3-4386-48dc-8174-a2bc58834924); Time taken: 0.483 seconds
INFO  : OK
INFO  : Concurrency mode is disabled, not creating a lock manager
No rows affected (1.466 seconds)
0: jdbc:hive2://10.0.2.15:10000>
0: jdbc:hive2://10.0.2.15:10000> INSERT INTO test_table VALUES(1,'testing');
INFO  : Compiling command(queryId=vagrant_20200619131552_468ee77f-e381-4c37-ae98-3bff663b54f5): INSERT INTO test_table VALUES(1,'testing')
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Semantic Analysis Completed (retrial = false)
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:col1, type:int, comment:null), FieldSchema(name:col2, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=vagrant_20200619131552_468ee77f-e381-4c37-ae98-3bff663b54f5); Time taken: 2.653 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=vagrant_20200619131552_468ee77f-e381-4c37-ae98-3bff663b54f5): INSERT INTO test_table VALUES(1,'testing')
WARN  : Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
INFO  : Query ID = vagrant_20200619131552_468ee77f-e381-4c37-ae98-3bff663b54f5
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : number of splits:1
INFO  : Submitting tokens for job: job_1592572147865_0001
INFO  : Executing with tokens: []
INFO  : The url to track the job: http://0.0.0.0:9046/proxy/application_1592572147865_0001/
INFO  : Starting Job = job_1592572147865_0001, Tracking URL = http://0.0.0.0:9046/proxy/application_1592572147865_0001/
INFO  : Kill Command = /opt/hadoop/bin/mapred job  -kill job_1592572147865_0001
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2020-06-19 13:16:04,581 Stage-1 map = 0%,  reduce = 0%
INFO  : 2020-06-19 13:16:09,849 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.05 sec
INFO  : 2020-06-19 13:16:15,224 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.48 sec
INFO  : MapReduce Total cumulative CPU time: 3 seconds 480 msec
INFO  : Ended Job = job_1592572147865_0001
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to directory hdfs://10.211.55.101:9000/user/hive/warehouse/test_table/.hive-staging_hive_2020-06-19_13-15-52_225_1421096779157662988-1/-ext-10000 from hdfs://10.211.55.101:9000/user/hive/warehouse/test_table/.hive-staging_hive_2020-06-19_13-15-52_225_1421096779157662988-1/-ext-10002
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table default.test_table from hdfs://10.211.55.101:9000/user/hive/warehouse/test_table/.hive-staging_hive_2020-06-19_13-15-52_225_1421096779157662988-1/-ext-10000
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.48 sec   HDFS Read: 15574 HDFS Write: 247 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 3 seconds 480 msec
INFO  : Completed executing command(queryId=vagrant_20200619131552_468ee77f-e381-4c37-ae98-3bff663b54f5); Time taken: 23.151 seconds
INFO  : OK
INFO  : Concurrency mode is disabled, not creating a lock manager
No rows affected (25.827 seconds)
0: jdbc:hive2://10.0.2.15:10000>
0: jdbc:hive2://10.0.2.15:10000> SELECT * FROM test_table;
INFO  : Compiling command(queryId=vagrant_20200619131618_9fa23df3-c9bb-457a-bd55-8a24fe63807f): SELECT * FROM test_table
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Semantic Analysis Completed (retrial = false)
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:test_table.col1, type:int, comment:null), FieldSchema(name:test_table.col2, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=vagrant_20200619131618_9fa23df3-c9bb-457a-bd55-8a24fe63807f); Time taken: 0.387 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=vagrant_20200619131618_9fa23df3-c9bb-457a-bd55-8a24fe63807f): SELECT * FROM test_table
INFO  : Completed executing command(queryId=vagrant_20200619131618_9fa23df3-c9bb-457a-bd55-8a24fe63807f); Time taken: 0.0 seconds
INFO  : OK
INFO  : Concurrency mode is disabled, not creating a lock manager
+------------------+------------------+
| test_table.col1  | test_table.col2  |
+------------------+------------------+
| 1                | testing          |
+------------------+------------------+
1 row selected (0.506 seconds)
0: jdbc:hive2://10.0.2.15:10000>
0: jdbc:hive2://10.0.2.15:10000> Closing: 0: jdbc:hive2://10.0.2.15:10000

### Metastore

In [9]:
%load_ext sql
%sql mysql://hive:3MX6fDLN2AQm23bD@localhost/metastore

In [10]:
%%sql
select TBL_ID, CREATE_TIME, OWNER, TBL_NAME
from TBLS;

 * mysql://hive:***@localhost/metastore
1 rows affected.

[(1, 1592572551, 'vagrant', 'test_table')]

## Spark

In [21]:
from pyspark import SparkContext, SparkConf, SQLContext

import findspark
findspark.init()

appName = "Integration Test"
master = "spark://localhost:7077"
conf = SparkConf() \
    .set('spark.sql.catalogImplementation', 'hive') \
    .setAppName(appName) \
    .setMaster(master)

In [13]:
sc = SparkContext(conf=conf)

In [14]:
sc

In [15]:
from pyspark.sql import HiveContext
hc = HiveContext(sc)

In [16]:
hc.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|test_table|      false|
+--------+----------+-----------+

In [17]:
hc.sql("select * from test_table").show()

+----+-------+
|col1|   col2|
+----+-------+
|   1|testing|
+----+-------+

In [22]:
from pyspark.sql import SparkSession
    
sparksession = SparkSession.builder.appName("example-pyspark-read-and-write").getOrCreate()

In [27]:
df = (sparksession
	.read
	.format("csv")
	.option("header", "true")
	.load("hdfs://10.211.55.101:9000/user/vagrant/example.csv")
)

In [28]:
df.show()

+---+---------+---------+--------------------+--------------+
| id|firstname| lastname|               email|    profession|
+---+---------+---------+--------------------+--------------+
|100|   Allyce|      Dom|Allyce.Dom@gmail.com|   firefighter|
|101|  Gertrud|    Poppy|Gertrud.Poppy@gma...|        worker|
|102|Jacquetta|  Sigfrid|Jacquetta.Sigfrid...|        worker|
|103|  Desirae|     Mich|Desirae.Mich@gmai...|   firefighter|
|104|   Kalina|     Edee|Kalina.Edee@gmail...|   firefighter|
|105|    Bibby|    Raffo|Bibby.Raffo@gmail...|     developer|
|106|   Maisey|Erlandson|Maisey.Erlandson@...|   firefighter|
|107|  Adriana|   Deegan|Adriana.Deegan@gm...|   firefighter|
|108|      Eve|  Durante|Eve.Durante@gmail...|     developer|
|109|  Clarice|Robertson|Clarice.Robertson...|   firefighter|
|110| Patricia| Alexandr|Patricia.Alexandr...|   firefighter|
|111|  Eolanda|Ursulette|Eolanda.Ursulette...|     developer|
|112|   Nannie|     Ilka|Nannie.Ilka@gmail...|        doctor|
|113|   Dagmar|    Mauer|Dagmar.Mauer@gmai...|police officer|
|114|  Shaylyn|     Mich|Shaylyn.Mich@gmai...|     developer|
|115|    Gilda|   Daveta|Gilda.Daveta@gmai...|        worker|
|116|   Carree|    Faust|Carree.Faust@gmai...|police officer|
|117|   Collen|    Kaete|Collen.Kaete@gmai...|     developer|
|118|   Gloria|  Bendick|Gloria.Bendick@gm...|        worker|
|119|     Kary|  Eachern|Kary.Eachern@gmai...|     developer|
+---+---------+---------+--------------------+--------------+
only showing top 20 rows