# Integration Test

In [4]:
!jps

28017 RunJar
29109 Jps
26616 DataNode
27081 ResourceManager
26859 SecondaryNameNode
28844 SparkSubmit
26412 NameNode
27405 NodeManager

## Hdfs

In [54]:
%%file example.csv
id,firstname,lastname,email,profession
100,Allyce,Dom,Allyce.Dom@gmail.com,firefighter
101,Gertrud,Poppy,Gertrud.Poppy@gmail.com,worker
102,Jacquetta,Sigfrid,Jacquetta.Sigfrid@gmail.com,worker
103,Desirae,Mich,Desirae.Mich@gmail.com,firefighter
104,Kalina,Edee,Kalina.Edee@gmail.com,firefighter
105,Bibby,Raffo,Bibby.Raffo@gmail.com,developer
106,Maisey,Erlandson,Maisey.Erlandson@gmail.com,firefighter
107,Adriana,Deegan,Adriana.Deegan@gmail.com,firefighter
108,Eve,Durante,Eve.Durante@gmail.com,developer
109,Clarice,Robertson,Clarice.Robertson@gmail.com,firefighter
110,Patricia,Alexandr,Patricia.Alexandr@gmail.com,firefighter
111,Eolanda,Ursulette,Eolanda.Ursulette@gmail.com,developer
112,Nannie,Ilka,Nannie.Ilka@gmail.com,doctor
113,Dagmar,Mauer,Dagmar.Mauer@gmail.com,police officer
114,Shaylyn,Mich,Shaylyn.Mich@gmail.com,developer
115,Gilda,Daveta,Gilda.Daveta@gmail.com,worker
116,Carree,Faust,Carree.Faust@gmail.com,police officer
117,Collen,Kaete,Collen.Kaete@gmail.com,developer
118,Gloria,Bendick,Gloria.Bendick@gmail.com,worker
119,Kary,Eachern,Kary.Eachern@gmail.com,developer
120,Margette,Therine,Margette.Therine@gmail.com,doctor
121,Nataline,Kosey,Nataline.Kosey@gmail.com,developer
122,Romona,Ludewig,Romona.Ludewig@gmail.com,firefighter
123,Eadie,Tyson,Eadie.Tyson@gmail.com,police officer
124,Jan,Geffner,Jan.Geffner@gmail.com,worker
125,Corina,Tomasina,Corina.Tomasina@gmail.com,police officer
126,Ellette,Bearnard,Ellette.Bearnard@gmail.com,firefighter
127,Marinna,Peg,Marinna.Peg@gmail.com,worker
128,Brana,Burnside,Brana.Burnside@gmail.com,worker

Overwriting example.csv

In [63]:
!hdfs dfs -mkdir /user/vagrant

In [64]:
!hdfs dfs -put example.csv /user/vagrant

2020-04-25 06:27:23,391 INFO sasl.SaslDataTransferClient: SASL encryption trust check: localHostTrusted = false, remoteHostTrusted = false

In [65]:
!hdfs dfs -ls /user/vagrant

Found 1 items
-rw-r--r--   1 vagrant supergroup       1574 2020-04-25 06:27 /user/vagrant/example.csv

## Hive

In [8]:
%%file test_hive.hql

CREATE TABLE IF NOT EXISTS test_table
 (col1 int COMMENT 'Integer Column',
 col2 string COMMENT 'String Column')
 COMMENT 'This is test table'
 ROW FORMAT DELIMITED
 FIELDS TERMINATED BY ','
 STORED AS TEXTFILE;
    
INSERT INTO test_table VALUES(1,'testing');

SELECT * FROM test_table;

Writing test_hive.hql

In [13]:
!hive -f ./test_hive.hql

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/apache-hive-3.1.2-bin/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/hadoop-3.1.3/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = 3d6a1453-55f9-4efb-93d0-98b479855744

Logging initialized using configuration in jar:file:/opt/apache-hive-3.1.2-bin/lib/hive-common-3.1.2.jar!/hive-log4j2.properties Async: true
Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.
Hive Session ID = 58f11f53-0938-44dc-9010-b371a553e228
OK
Time taken: 1.27 seconds
Query ID = vagrant_20200425060752_e639ab87-2681-4878-9c0e-a504d3cb6cb7
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1587793898293_0001, Tracking URL = http://vagrant.vm:8088/proxy/application_1587793898293_0001/
Kill Command = /opt/hadoop/bin/mapred job  -kill job_1587793898293_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-04-25 06:08:03,261 Stage-1 map = 0%,  reduce = 0%
2020-04-25 06:08:07,452 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.35 sec
2020-04-25 06:08:12,669 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.45 sec
MapReduce Total cumulative CPU time: 2 seconds 450 msec
Ended Job = job_1587793898293_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://10.0.2.15:9000/user/hive/warehouse/test_table/.hive-staging_hive_2020-04-25_06-07-52_688_607488361951007403-1/-ext-10000
Loading data to table default.test_table
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.45 sec   HDFS Read: 15497 HDFS Write: 247 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 450 msec
OK
Time taken: 21.628 seconds
OK
1	testing
Time taken: 0.317 seconds, Fetched: 1 row(s)

### Metastore

In [85]:
%load_ext sql
%sql mysql://hive:3MX6fDLN2AQm23bD@localhost/metastore

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: hive@metastore'

In [86]:
%%sql
select TBL_ID, CREATE_TIME, OWNER, TBL_NAME
from TBLS;

 * mysql://hive:***@localhost/metastore
1 rows affected.

[(1, 1587794872, 'vagrant', 'test_table')]

## Spark

In [14]:
sc

In [16]:
from pyspark.sql import HiveContext
hc = HiveContext(sc)

In [17]:
hc.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|test_table|      false|
+--------+----------+-----------+

In [18]:
hc.sql("select * from test_table").show()

+----+-------+
|col1|   col2|
+----+-------+
|   1|testing|
+----+-------+

In [41]:
!ip addr show dev eth0

2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether 08:00:27:bc:dc:a4 brd ff:ff:ff:ff:ff:ff
    inet 10.0.2.15/24 brd 10.0.2.255 scope global dynamic eth0
       valid_lft 84345sec preferred_lft 84345sec
    inet6 fe80::a00:27ff:febc:dca4/64 scope link
       valid_lft forever preferred_lft forever

In [44]:
sparksession = SparkSession.builder.appName("example-pyspark-read-and-write").getOrCreate()

In [66]:
df = (sparksession
	.read
	.format("csv")
	.option("header", "true")
	.load("hdfs://10.0.2.15:9000/user/vagrant/example.csv")
)

In [67]:
df.show()

+---+---------+---------+--------------------+--------------+
| id|firstname| lastname|               email|    profession|
+---+---------+---------+--------------------+--------------+
|100|   Allyce|      Dom|Allyce.Dom@gmail.com|   firefighter|
|101|  Gertrud|    Poppy|Gertrud.Poppy@gma...|        worker|
|102|Jacquetta|  Sigfrid|Jacquetta.Sigfrid...|        worker|
|103|  Desirae|     Mich|Desirae.Mich@gmai...|   firefighter|
|104|   Kalina|     Edee|Kalina.Edee@gmail...|   firefighter|
|105|    Bibby|    Raffo|Bibby.Raffo@gmail...|     developer|
|106|   Maisey|Erlandson|Maisey.Erlandson@...|   firefighter|
|107|  Adriana|   Deegan|Adriana.Deegan@gm...|   firefighter|
|108|      Eve|  Durante|Eve.Durante@gmail...|     developer|
|109|  Clarice|Robertson|Clarice.Robertson...|   firefighter|
|110| Patricia| Alexandr|Patricia.Alexandr...|   firefighter|
|111|  Eolanda|Ursulette|Eolanda.Ursulette...|     developer|
|112|   Nannie|     Ilka|Nannie.Ilka@gmail...|        doctor|
|113|   Dagmar|    Mauer|Dagmar.Mauer@gmai...|police officer|
|114|  Shaylyn|     Mich|Shaylyn.Mich@gmai...|     developer|
|115|    Gilda|   Daveta|Gilda.Daveta@gmai...|        worker|
|116|   Carree|    Faust|Carree.Faust@gmai...|police officer|
|117|   Collen|    Kaete|Collen.Kaete@gmai...|     developer|
|118|   Gloria|  Bendick|Gloria.Bendick@gm...|        worker|
|119|     Kary|  Eachern|Kary.Eachern@gmai...|     developer|
+---+---------+---------+--------------------+--------------+
only showing top 20 rows